@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.hero-contant {
  background-image: url("../../Images/top_banner.jpg");
  width: 100%;
  background-position: center;
  height: 75vh;
  background-size: cover;
  object-fit: cover;
}

.hero-contant h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 10px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Roboto", sans-serif;
}
.card {
  height: 75vh;
}

.card img {
  width: 100%;
  height: 220px;
}

.card ul li a {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-size: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  z-index: 3;
}

.card ul ul li {
  border-bottom: 1px solid rgb(183, 183, 183);
  margin: 7px;
  padding: 5px;
}

.card ul ul li:last-child {
  border-bottom: none;
}

.drop-menu {
  list-style: none;
  position: absolute;
  left: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 99;
  display: none;
  width: 250px;
  top: 0;
}

.drop-show {
  display: block;
}

.fa-circle-xmark {
  color: red;
}

.card ul li:hover {
  background-color: rgb(5, 158, 158);
}

.categories h1 span {
  color: #fff;
  font-size: 20px;
  width: 50%;
  background-color: rgb(8, 77, 77);
  padding: 10px 10px;
  display: none;
}
.drop-menu,
.drop-menu2,
.drop-menu3,
.drop-menu4,
.drop-menu5 {
  list-style: none;
  position: absolute;
  left: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 99;
  display: none;
  width: 250px;
  top: 0;
}
.drop-show,
.drop-show2,
.drop-show3,
.drop-show4,
.drop-show5 {
  display: block;
}
.fa-circle-xmark {
  color: red;
}

.card ul li:hover {
  background-color: rgb(5, 158, 158);
}

.categories h1 span {
  color: #fff;
  font-size: 20px;
  width: 150px;
  background-color: rgb(8, 77, 77);
  padding: 10px 10px;
  display: none;
  cursor: pointer;
}

@media (max-width: 779px) {
  .col-lg-3 {
    position: relative;
  }

  .sidebar {
    position: absolute;
    display: none;
    top: 30px;
    left: 0;
  }

  .sidebar-active {
    display: block;
  }

  .categories h1 span {
    display: block;
    position: fixed;
    top: 100px;
  }
}
.scroll-icon i {
  position: fixed;
  right: 10px;
  font-size: 40px;
  color: red;
  bottom: 20px;
}
